---
import Layout from "@/layouts/Layout.astro"
import cv from 'public/cv.json';
import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import ButtonLink from "@/components/ButtonLink.astro"
---

<Layout
  title={cv.aboutme.name}
  description="Contrata a brian para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas."
>
  <main class="px-4 pt-5 mt-5">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>

    <div class="space-y-24 mt-5">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <div style="display: flex; flex-direction: row; justify-content: space-between;">

        <TitleSection>
          <CodeIcon class="size-7" />
          Proyectos
        </TitleSection>
        <ButtonLink href="/Proyectos">{"Ver mas >"}</ButtonLink>
      </div>
      
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
